
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

RewriteCond %{HTTP_HOST} ^(www.)?hayson.top$
RewriteCond %{REQUEST_URI} !^/home/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /home/$1
RewriteCond %{HTTP_HOST} ^(www.)?hayson.top$
RewriteRule ^(/)?$ home/index.html [L]

RewriteCond %{HTTP_HOST} ^npc.hayson.top$
RewriteCond %{REQUEST_URI} !^/npc/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /npc/$1
RewriteCond %{HTTP_HOST} ^npc.hayson.top$
RewriteRule ^(/)?$ npc/index.html [L]
</IfModule>

# END WordPress
