<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>星云拍卖行</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../css/core.css">
    <style>
        .panel-heading h2{font-weight: bold;}
        .nav-pills{margin-bottom: 10px}
        .nav-pills li{cursor: pointer}
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" id="nav" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-header">
                <a class="navbar-brand" href="/index.html">
                    星云拍卖行
                </a>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/view/publish.html">发布拍卖</a></li>
                <li><a href="/index.html">NAS拍卖</a></li>
                <li><a href="/view/npcpage.html">NPC拍卖</a></li>
                <li><a href="/view/myaccount.html">个人中心</a></li>
            </ul>
        </div>
    </div>
</nav>
    <div class="jumbotron" id="banner">
    <div class="container">
        <img src="/images/banner-text.png"/>
    </div>
</div>
    <div class="container" id="app">
        <div class="row">
            <div class="col-xs-9 col-md-9">
                <ul class="nav nav-pills">
                    <li role="presentation" v-on:click="tabClick('j')" v-bind:class="jactive"><a>我的竞拍</a></li>
                    <li role="presentation" v-on:click="tabClick('p')" v-bind:class="pactive"><a>我的拍卖</a></li>
                </ul>
                <div id="jinpai" v-if="jactive === 'active'">
                    <h3 v-if="jproducts.length < 1">暂无参加竞拍商品</h3>
                    <div v-for="p in jproducts">
                        <div class="panel panel-default product-box">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-7 col-md-5">
                                        <a class="thumbnail">
                                            <img v-bind:src="p.imgUrl" v-bind:title="p.title">
                                        </a>
                                    </div>
                                    <div class="col-xs-4 col-md-6 caption">
                                        <h3>{{p.title}}</h3>
                                        <p>当前价：<span class="price">{{p.nowPrice}}</span> {{p.ptype}} &nbsp;&nbsp;&nbsp;<span v-html="getRestTimeDisplay(p.endTime, p.winner,p.status)"></span></p>
                                        <p><button v-if="isWinner(p)" class="btn btn-danger" role="button" data-toggle="modal" data-target="#priceModal" v-bind:data-whatever="p.id">领取</button> <button class="btn btn-default" role="button" data-toggle="modal" v-bind:data-target="'#priceRecord'+p.id">查看出价记录</button></p>
                                    </div>
                                </div>
                            </div>
                            <div class="times">{{p.times}} <br/>次出价</div>
                        </div>
                        <div class="modal fade" v-bind:id="'priceRecord'+p.id" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title">最近的出价记录</h4>
                                    </div>
                                    <div class="modal-body">
                                        <ul class="list-group news-list">
                                            <li class="list-group-item" v-for="log in p.offers" v-if="p.ptype==='NAS'">{{addrDisplay(log.addr)}} 参与拍卖,出价 {{log.price}} NAS,获取了 {{log.npc}} NPC</li>
                                            <li class="list-group-item" v-for="log in p.offers" v-if="p.ptype==='NPC'">{{addrDisplay(log.addr)}} 参与拍卖,出价 {{log.price}} NPC</li>
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="paimai" v-if="pactive === 'active'">
                    <h3 v-if="pproducts.length < 1">暂无发布商品</h3>
                    <div v-for="p in pproducts">
                        <div class="panel panel-default product-box">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-7 col-md-5">
                                        <a class="thumbnail">
                                            <img v-bind:src="p.imgUrl" v-bind:title="p.title">
                                        </a>
                                    </div>
                                    <div class="col-xs-4 col-md-6 caption">
                                        <h3>{{p.title}}</h3>
                                        <p>当前价：<span class="price">{{p.nowPrice}}</span> {{p.ptype}} &nbsp;&nbsp;&nbsp;<span v-html="getRestTimeDisplay(p.endTime, p.winner,p.status)"></span></p>
                                        <p><button v-if="isWinner(p)" class="btn btn-danger" role="button" data-toggle="modal" data-target="#priceModal" v-bind:data-whatever="p.id">领取</button> <button class="btn btn-default" role="button" data-toggle="modal" v-bind:data-target="'#priceRecord'+p.id">查看出价记录</button></p>
                                    </div>
                                </div>
                            </div>
                            <div class="times">{{p.times}} <br/>次出价</div>
                        </div>
                        <div class="modal fade" v-bind:id="'priceRecord'+p.id" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title">最近的出价记录</h4>
                                    </div>
                                    <div class="modal-body">
                                        <ul class="list-group news-list">
                                            <li class="list-group-item" v-for="log in p.offers" v-if="p.ptype==='NAS'">{{addrDisplay(log.addr)}} 参与拍卖,出价 {{log.price}} NAS,获取了 {{log.npc}} NPC</li>
                                            <li class="list-group-item" v-for="log in p.offers" v-if="p.ptype==='NPC'">{{addrDisplay(log.addr)}} 参与拍卖,出价 {{log.price}} NPC</li>
                                        </ul>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-3 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">我的资产</h2>
                    </div>
                    <div class="panel-body">
                        <p v-if="account != ''">
                            NAS :&nbsp;&nbsp;{{new Number(account.balance).toFixed(6)}}<br/>
                            <!--本合约中NAS :&nbsp;&nbsp;{{account.nas}} <a>提取</a><br/>-->
                            NPC :&nbsp;&nbsp;{{account.npc}}
                        </p>
                        <p v-if="account === ''">
                            请在WebExtensionWallet插件（<a target="_blank" href="https://github.com/ChengOrangeJu/WebExtensionWallet">点击下载</a>）中选择钱包文件，然后刷新页面，系统会自动识别您的账户信息
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="priceModal" tabindex="-1" role="dialog" aria-labelledby="priceModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="priceModalLabel">领奖</h4>
                </div>
                <div class="modal-body">
                    <label for="address" class="control-label">收获地址:（我们会将奖品快递到这个地址）</label>
                    <input type="text" class="form-control" id="address">
                    <br/>
                    <label for="phone" class="control-label">手机号码:</label>
                    <input type="text" class="form-control" id="phone">
                    <input type="hidden" id="offerProductId">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" onclick="accept()">提交</button>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/plugins/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="../js/plugins/vue.min.js"></script>
    <script type="text/javascript" src="../js/plugins/nebulas.js"></script>
    <script type="text/javascript" src="../js/plugins/nebPay.js"></script>
    <script type="text/javascript" src="../js/common/util.js"></script>
    <script type="text/javascript" src="../js/common/common-neb.js"></script>
	<script type="text/javascript" src="../js/common/common-data.js"></script>
    <script type="text/javascript">

        //领奖modal
        $('#priceModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var recipient = button.data('whatever');
            var modal = $(this);
            modal.find("#offerProductId").val(recipient)
        });

        function accept() {
            var id = $("#offerProductId").val();
            var address = $("#address").val();
            var phone = $("#phone").val();
            if (id && address && phone){
                acceptProduct(self, id, address, phone);
            }else (
                alert("地址和手机号不能为空")
            )
        }
        new Vue({
            el: '#app',
            data: {
                jactive: "active",
                pactive: "",
                account: "",
                jproducts:[],
                pproducts:[]
            },
            methods: {
                tabClick: function(tab){
                    if(tab === "j"){
                        this.jactive = "active";
                        this.pactive = "";
                    }else if(tab === "p"){
                        this.pactive = "active";
                        this.jactive = "";
                    }
                }
            },
            mounted : function () {
                var self = this;
                getUserInfo(self);
                getUserWinProducts(self);
                getUserPubProducts(self);
            }
        })
    </script>
</body>
</html>